body {
    font-family: Georgia, 'Times New Roman', Times, serif ;
    background-image: url(bg.jpeg) ;
    background-size: cover;
}

h1,h2,h3,h4,h5,h6 ,p{
    font-family: "Playfair Display";
    letter-spacing: 5 px;
    
}
.button {
    color: black;
    font-size: 30px;
    word-spacing: 10px;
    letter-spacing: 4px;
    
    
}
.center {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
}

#content {
    
    font-size: 25px;
    text-align: center;
}
#mostpop {
    font-size: 25px;
    text-align: center;
    
}
#ending {
    font-size: 32px;
    text-align: center;
}
footer {
    color:black;
    size: 22px;
    background-color: rgba(0, 0, 0, 0.185);
    margin: 2em ;
    border: black ;
    border-width: 2em;
    text-align: center;
}